
.card {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 40px;
  display : flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 15px;
  flex-basis: 250px;
  flex-grow: 1;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}


.card h2 {
  flex-grow: 1;
  padding-left: 20px;
  font-size:20px;
}

.card2 {
  display: flex;
  flex-wrap: wrap;
}

.card2 {
  padding: 40px;
  width: 300px;
  display : flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 15px;
  flex-basis: 250px;
  flex-grow: 1;
}

.card2 img {
  width: 75px;
  height: 75px;
  border-radius: 3px;
}


.card2 h2 {
  flex-grow: 1;
  padding-left: 20px;
  font-size:20px;
}

.genre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

